
@import url('https://fonts.googleapis.com/css?family=Jolly+Lodger');

* {
    align-items: center;
    text-align: center;
}

h1, h2 {
    font-family: 'Jolly Lodger';
}

.darkmode {
    background-color: #222222;
    color: rgb(31, 157, 173);
}

.lightmode {
    background-color:rgb(255, 255, 255);
    color: rgb(41, 40, 40);
}